

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#f8f9fb;
    color:#333;
}


.navbar{
    width:100%;
    background:#b30000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 70px;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    color:white;
}

.logo i{
    font-size:32px;
    margin-right:10px;
}

.logo h2{
    font-size:25px;
    font-weight:700;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin:0 15px;
}

.nav-links li a{
    color:white;
    text-decoration:none;
    font-size:16px;
    font-weight:500;
    transition:.3s;
}

.nav-links li a:hover{
    color:#ffd700;
}

.logout-btn{
    background:white;
    color:#b30000;
    text-decoration:none;
    padding:11px 20px;
    border-radius:8px;
    font-weight:600;
    transition:.3s;
}

.logout-btn:hover{
    background:#ffd700;
    color:#b30000;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
    background:linear-gradient(to right,#fff5f5,#ffeaea);
}

.hero-text{
    width:50%;
}

.tag{
    display:inline-block;
    background:#ffe0e0;
    color:#b30000;
    padding:10px 18px;
    border-radius:30px;
    font-size:15px;
    font-weight:600;
    margin-bottom:25px;
}

.hero-text h1{
    font-size:55px;
    line-height:70px;
    margin-bottom:25px;
    color:#222;
}

.hero-text h1 span{
    color:#b30000;
}

.hero-text p{
    font-size:18px;
    color:#555;
    line-height:30px;
    margin-bottom:35px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.btn-red{
    background:#b30000;
    color:white;
    padding:15px 35px;
    border-radius:8px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.btn-red:hover{
    background:#8b0000;
}

.btn-white{
    background:white;
    color:#b30000;
    border:2px solid #b30000;
    padding:15px 35px;
    border-radius:8px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.btn-white:hover{
    background:#b30000;
    color:white;
}

.hero-image{
    width:45%;
    text-align:center;
}

.hero-image img{
    width:100%;
    max-width:500px;
}


.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
    padding:70px 80px;
    background:white;
}

.stat-card{
    background:#fff;
    text-align:center;
    padding:35px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-10px);
}

.stat-card i{
    font-size:45px;
    color:#b30000;
    margin-bottom:20px;
}

.stat-card h2{
    font-size:38px;
    color:#b30000;
    margin-bottom:10px;
}

.stat-card p{
    color:#666;
    font-size:17px;
}


.availability{
    padding:80px 8%;
    background:#fff5f5;
    text-align:center;
}

.availability h1{
    font-size:42px;
    color:#b30000;
    margin-bottom:10px;
}

.availability p{
    color:#666;
    margin-bottom:40px;
}

.blood-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.blood-card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
    border-top:5px solid #b30000;
}

.blood-card:hover{
    transform:translateY(-10px);
}

.blood-card h2{
    font-size:38px;
    color:#b30000;
    margin-bottom:10px;
}

.blood-card span{
    font-size:18px;
    color:#444;
    font-weight:600;
}


.why-us{
    padding:80px 8%;
    background:white;
    text-align:center;
}

.why-us h1{
    font-size:42px;
    color:#b30000;
    margin-bottom:10px;
}

.why-us p{
    color:#666;
    margin-bottom:40px;
}

.why-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.why-card{
    background:#fff;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.why-card:hover{
    background:#b30000;
    color:white;
    transform:translateY(-10px);
}

.why-card:hover i,
.why-card:hover h3,
.why-card:hover p{
    color:white;
}

.why-card i{
    font-size:45px;
    color:#b30000;
    margin-bottom:20px;
}

.why-card h3{
    margin-bottom:15px;
}

.why-card p{
    color:#666;
    line-height:26px;
}



.works{
    padding:80px 8%;
    background:#f8f9fb;
    text-align:center;
}

.works h1{
    color:#b30000;
    font-size:42px;
    margin-bottom:50px;
}

.work-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.work-card{
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.work-card:hover{
    transform:translateY(-10px);
}

.work-card i{
    font-size:45px;
    color:#b30000;
    margin-bottom:20px;
}

.work-card h3{
    margin-bottom:15px;
}

.work-card p{
    color:#666;
}

.tips{
    padding:80px 8%;
    background:white;
}

.tips h1{
    text-align:center;
    color:#b30000;
    font-size:42px;
    margin-bottom:50px;
}

.tips-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.tip{
    background:#fff5f5;
    padding:25px;
    border-left:5px solid #b30000;
    border-radius:10px;
    font-size:17px;
    color:#444;
    transition:.3s;
}

.tip:hover{
    transform:translateX(10px);
}


.testimonials{
    padding:80px 8%;
    background:#fff5f5;
    text-align:center;
}

.testimonials h1{
    font-size:42px;
    color:#b30000;
    margin-bottom:50px;
}

.testimonial-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.testimonial{
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
    transition:.3s;
}

.testimonial:hover{
    transform:translateY(-10px);
}

.testimonial i{
    font-size:35px;
    color:#b30000;
    margin-bottom:20px;
}

.testimonial p{
    color:#666;
    line-height:28px;
    margin-bottom:20px;
}

.testimonial h3{
    color:#b30000;
}


.emergency{
    background:linear-gradient(135deg,#b30000,#ff4d4d);
    color:white;
    text-align:center;
    padding:80px 20px;
}

.emergency h1{
    font-size:45px;
    margin-bottom:20px;
}

.emergency p{
    font-size:18px;
    margin-bottom:30px;
}

.emergency-btn{
    display:inline-block;
    background:white;
    color:#b30000;
    text-decoration:none;
    padding:15px 35px;
    border-radius:30px;
    font-weight:600;
    transition:.3s;
}

.emergency-btn:hover{
    background:#ffd700;
}


.gallery{
    padding:80px 8%;
    text-align:center;
    background:white;
}

.gallery h1{
    font-size:42px;
    color:#b30000;
    margin-bottom:10px;
}

.gallery p{
    color:#666;
    margin-bottom:40px;
}

.gallery-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.gallery-container img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    transition:.4s;
    cursor:pointer;
}

.gallery-container img:hover{
    transform:scale(1.05);
}

.faq{
    padding:80px 8%;
    background:#f8f9fb;
}

.faq h1{
    text-align:center;
    font-size:42px;
    color:#b30000;
    margin-bottom:40px;
}

.faq-box{
    background:white;
    padding:25px;
    margin-bottom:20px;
    border-left:5px solid #b30000;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.faq-box h3{
    color:#b30000;
    margin-bottom:10px;
}

.faq-box p{
    color:#555;
    line-height:28px;
}

.cta{
    background:#b30000;
    color:white;
    text-align:center;
    padding:80px 20px;
}

.cta h1{
    font-size:45px;
    margin-bottom:20px;
}

.cta p{
    margin-bottom:35px;
    font-size:18px;
}

.cta-btn{
    display:inline-block;
    padding:15px 35px;
    background:white;
    color:#b30000;
    text-decoration:none;
    border-radius:30px;
    font-weight:600;
    transition:.3s;
}

.cta-btn:hover{
    background:#ffd700;
}



.social{
    padding:60px;
    background:white;
    text-align:center;
}

.social h2{
    color:#b30000;
    margin-bottom:25px;
}

.social-icons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.social-icons a{
    width:60px;
    height:60px;
    background:#b30000;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    text-decoration:none;
    transition:.3s;
}

.social-icons a:hover{
    background:#ff4d4d;
    transform:translateY(-8px);
}

footer{
    background:#8b0000;
    color:white;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:50px 8%;
}

.footer-box{
    width:250px;
}

.footer-box h2,
.footer-box h3{
    margin-bottom:20px;
}

.footer-box p,
.footer-box a{
    color:#eee;
    text-decoration:none;
    line-height:30px;
}

.footer-box a:hover{
    color:#ffd700;
}

.copyright{
    text-align:center;
    background:#700000;
    padding:18px;
}

@media(max-width:992px){

.navbar{
    flex-direction:column;
}

.nav-links{
    flex-wrap:wrap;
    justify-content:center;
    margin:20px 0;
}

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-text,
.hero-image{
    width:100%;
}

.hero-image{
    margin-top:40px;
}

.stats,
.blood-container,
.why-container,
.work-container,
.testimonial-container,
.gallery-container{
    grid-template-columns:repeat(2,1fr);
}

.tips-container{
    grid-template-columns:1fr;
}

.footer-container{
    flex-direction:column;
    text-align:center;
}

.footer-box{
    width:100%;
    margin-bottom:30px;
}

}

@media(max-width:768px){

.stats,
.blood-container,
.why-container,
.work-container,
.testimonial-container,
.gallery-container{
    grid-template-columns:1fr;
}

.hero-text h1{
    font-size:38px;
    line-height:50px;
}

.hero{
    padding:50px 25px;
}

}
